### compile output ###
target/
output/
output_temp/
log/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
*.bak

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#eagle
eagle.py
